<app-navbar></app-navbar>
<div class=container>
    <div class=row>
        <div class="col-6">
            <figure>
                <img src="../../../assets/cook.jpg" height=500px>
                <!-- <figcaption>
                    Liubov is creating another masterpiece, 2015
                </figcaption> -->
            </figure>
        </div>

        <div class="col-6">
            <!-- Bio -->
            <p>
                Liubov is a pastry chef with experience creating different types of culinary products. From simple traditional cookies to elaborately decorated cakes – Liubov is certain to come up with a masterpiece. Her inspiration takes origin from family cookbooks,
                cooking classes and – most importantly – her creative mind. She considers herself a “forever student”, never missing a chance to learn a new skill and never ceasing to amaze.
            </p>
            <p>
                Most recently, her desire for knowledge has brought her to <a href="about/#cert">Paris</a>, where she met the chefs from <i>“The Ritz”</i> for a master class of <i>Madeleines</i> – famous French treats. Next year, Liubov is planning to
                pursue her studies in Canada and further expand the knowledge of the culinary world.
            </p>
            <hr>
            <p>
                <img src="../../../assets/icons/email.svg" height="24px"> &nbsp;&nbsp;&nbsp;
                <a href="mailto:liubov.m.bakery@gmail.com?subject=LiubovMBakery" target="_blank">liubov.m.bakery@gmail.com</a>
                <br>
                <img src="../../../assets/icons/instagram.svg" height="24px"> &nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/liubov_m_bakery" target="_blank">liubov_m_bakery</a>
                <br>
                <img src="../../../assets/icons/facebook.svg" height="24px"> &nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/liubov.m.bakery/" target="_blank">Liubov M Bakery</a>
                <br>
                <img src="../../../assets/icons/linkedin.svg" height="24px"> &nbsp;&nbsp;&nbsp;
                <a href="#" target="_blank">[link to LinkedIn] </a>
            </p>
        </div>
        <div id="cert" width="70%">
            <hr>
            <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                </ol>

                <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <h3 class="h3-responsive" style="color:black; text-align: center;">Paris, November 21st, 2019</h3>
                        <img class="d-block w-100" src="../../../assets/certificate-paris.jpg" >
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <h3 class="h3-responsive" style="color:black; text-align: center;" >Moscow, March 14th, 2020</h3>
                        <img class="d-block w-100" src="../../../assets/certificate-moscow.jpg">
                    </div>
                </div>
                </div>

                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>