<app-navbar-rus></app-navbar-rus>
<div class="justify-content-center">
    <iframe src="https://snapwidget.com/embed/799963" class="snapwidget-widget mx-auto d-block" 
    allowtransparency="true" frameborder="0" scrolling="no" 
    style="border:none; overflow:hidden;  width:1200px; height:400px;"></iframe>
</div>

<!-- О нас -->
<section class="py-5">
    <div class="container">
        <h1 class="display-4 text-center">Пекарня Любовь М</h1>
        <p class="lead">Вкуснейшие пирожные, аппетитные торты, ароматное печенье и многое другое!</p>
        <p class="lead">В пекарне Любовь М, каждый найдет себе угощение по вкусу</p>
        <hr>
        <p class="lead">Хотите узнать больше? Посетите нашу <a [routerLink]="['/item-gallery-rus']">галерею! </a></p>
    </div>
</section>

<app-footer-rus></app-footer-rus>