<app-navbar></app-navbar>
<div class="justify-content-center">
    <iframe src="https://snapwidget.com/embed/799963" class="snapwidget-widget mx-auto d-block" 
    allowtransparency="true" frameborder="0" scrolling="no" 
    style="border:none; overflow:hidden;  width:1200px; height:400px;"></iframe>
</div>

<!-- About us -->
<section class="py-5">
    <div class="container">
        <h1 class="display-4 text-center">Liubov M Bakery</h1>
        <p class="lead">Delicious pastries, mouthwatering cakes, comfort-food cookies and so much more!</p>
        <p class="lead">At Liubov M Bakery, everyone is certain to find a treat for their sweet tooth</p>
        <hr>
        <p class="lead">Interested? Check out our <a [routerLink]="['/item-gallery']">gallery! </a></p>
    </div>
</section>
<app-footer></app-footer>